nav {
  transition: all 0.3s ease-in-out;
}
.nav_item::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav_item:hover:after {
  width: 100%;
  background: #3393F0;
}
.is-active::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background: #3393F0;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
